<div class="work_header">
    <img src="<%= "/#{@works.work_top_image} "%>">
</div>

        <ul class ="work_chara_title">
            <li>
                <img src="<%= "/#{@works.work_ico} "%>">
            </li>
            <li>
            </li>
        </ul>

<ul class ="main_layout">
    <li class = "side_menu">
        <ul class ="side_menu_list">
            <%= link_to("/works/#{params[:id]}/create_section_form") do %>
              <li>セクション追加</li>
            <% end %>
            <%= link_to("/works/#{params[:id]}") do %>
              <li>企画トップ</li>
            <% end %>
            <%= link_to("/works/#{params[:id]}/chara") do %>
              <li>キャラクター</li>
            <% end %>
            <%= link_to("/works/#{params[:id]}/invite_member_form") do %>
              <li>メンバー追加</li>
            <% end %>
          <li>脚本</li>
          <li>スケジュール</li>
          <li>タスク</li>
            <%= link_to("/users/#{@current_user.id}") do %>
              <li>マイページ</li>
            <% end %>
        </ul>
    </li>
    <li class ="main_content">
        <% @sections.each do |section| %>
            <h1><%= section.section_name %></h1>
            <%= link_to '変更', edit_calender_path(id: params[:id], section_id: section.id) %>
            <% timetables = Timetable.where(work_id: params[:id], section_id: section.id) %>
            <% timetables. each do |timetable| %>
            <ul class = "user_todo">
             <li><%= timetable.title %></li>
             <li><%= timetable.deadline.strftime('%m/%d') %></li>
            </ul>
        <% end %>
        <% end %>
    </li>
</ul>