<div class="work_header">
    <img src="<%= "/#{@works.work_top_image} "%>">
</div>

        <ul class ="work_chara_title">
            <li>
                <img src="<%= "/#{@works.work_ico} "%>">
            </li>
            <li>
            </li>
        </ul>

<ul class ="main_layout">
    <li class = "side_menu">
        <ul class ="side_menu_list">
            <%= link_to("/works/#{params[:id]}") do %>
              <li>企画トップ</li>
            <% end %>
            <%= link_to("/works/chara") do %>
              <li>キャラクター</li>
            <% end %>
            <%= link_to("/works/#{params[:id]}/invite_member_form") do %>
              <li>メンバー追加</li>
            <% end %>
          <li>脚本</li>
          <li>スケジュール</li>
          <li>タスク</li>
            <%= link_to("/users/#{@current_user.id}") do %>
              <li>マイページ</li>
            <% end %>
        </ul>
    </li>
    <li class ="main_content">
        <%= form_tag("/works/chara_create") do %>

        <p>キャラ名</p>
        <% if params[:chara_id] %>
        <input name="chara_name" value="<%= @charas.chara_name %>">
        <% else %>
        <input name="chara_name">
        <% end %>

        
        <input class="display_none" name="work_id" value="<%= params[:id] %>">
 
        <input type="submit" value="登録">
        <% end %>
    </li>
</ul>