<div class="work_header">
    <img src="<%= "/#{@works.work_top_image} "%>">
</div>

        <ul class ="work_chara_title">
            <li>
                <img src="<%= "/#{@works.work_ico} "%>">
            </li>
            <li>
      
            </li>
        </ul>

<ul class ="main_layout">
    <li class = "side_menu">
        <ul class ="side_menu_list">
            <%= link_to("/works/#{params[:id]}") do %>
              <li>企画トップ</li>
            <% end %>
            <%= link_to("/works/#{params[:id]}/chara") do %>
              <li>キャラクター</li>
            <% end %>
            <%= link_to("/works/#{params[:id]}/invite_member_form") do %>
              <li>メンバー追加</li>
            <% end %>
            <%= link_to("/works/#{params[:id]}/script") do %>
              <li>脚本</li>
            <% end %>
          <li>スケジュール</li>
          <li>タスク</li>
            <%= link_to("/users/#{@current_user.id}") do %>
              <li>マイページ</li>
            <% end %>
        </ul>
    </li>
    <li class ="main_content">
        <h1><%= @works.work_name %></h1>
        <h2>タスク</h2>
            <ul class="user_works_title">
                <li>タスク</li>
                <li>期日</li>
                <li></li>
                <li>ステータス</li>
                <li></li>
            </ul>
            
            <ul class="user_works">
                <li>第一話:リテイク</li>
                <li>4/10</li>
                <li></li>
                <li></li>
                <li>提出する</li>
            </ul>
        <h2>進捗</h2>
        <div class="graph"><h2>70%</h2></div>
        <p>個別の進捗を見る▼</p>
            <ul class="user_works_title">
                <li>アイコン</li>
                <li>キャラ名</li>
                <li>アクター</li>
                <li>ステータス</li>
                <li>進捗</li>
            </ul>
            <ul class="user_works">
                <li class="chara_icon"><img src ="/ark.png"></li>
                <li>アーク</li>
                <li>山田太郎</li>
                <li>1話リテイク中</li>
                <li>50％</li>
            </ul>
            <ul class="user_works">
                <li class="chara_icon"><img src ="/chara_raplus_05hitotoki.jpg"></li>
                <li>雨音</li>
                <li>山本太郎</li>
                <li>完了！！</li>
                <li>100％</li>
            </ul>
        <h2>仮音源</h2>
            <ul class="user_works_title">
                <li>セクション</li>
                <li>音源</li>
                <li>バージョン</li>
                <li>ステータス</li>
                <li>コメント</li>
            </ul>
            <ul class="user_works">
              <li>第1話</li>
                <li><audio  class="sound" preload="metadata" controls>
                    <source src="/sound/reache_06.mp3" type="audio/mp3">
                </audio></li>
                <li>06</li>
                <li>完成！</li>
                <li></li>
            </ul>
            <ul class="user_works">
              <li>第2話</li>
                <li><audio  class="sound" preload="metadata" controls>
                    <source src="/sound/reache_06.mp3" type="audio/mp3">
                </audio></li>
                <li>07</li>
                <li>確認依頼</li>
                <li></li>
            </ul>
            <ul class="user_works">
              <li>第3話</li>
                <li><audio  class="sound" preload="metadata" controls>
                    <source src="/sound/reache_06.mp3" type="audio/mp3">
                </audio></li>
                <li>02</li>
                <li>未完成</li>
                <li>もっとなにかいろいろやる！</li>
            </ul>
            <ul class="user_works">
              <li>第4話</li>
                <li>-</li>
                <li>-</li>
                <li>未着手</li>
                <li></li>
            </ul>
        <h2>メンバー</h2>
        
    <% @members.each do |member| %>
      <% user = User.find_by(id: member.user_id) %>
        <ul class="work_members">
            <li> <img src="<%= "/#{user.user_icon} "%>"></li>
            <li><%= user.user_name %></li>
        </ul>
    <% end %>

    </li>
</ul>
       