<ul class ="user_title">
    <li>
        <img src="<%= "/#{@current_user.user_icon}" %>">
    </li>
    <li>
        <h1><%= @current_user.user_name %></h1>
    </li>
</ul>
<ul class ="main_layout">
    <li class = "side_menu">
        <ul class ="side_menu_list">
            <%= link_to("/users/#{@current_user.id}") do %>
              <li>マイページ</li>
            <% end %>
            <%= link_to("/works//#{@current_user.id}/index") do %>
              <li>参加作品</li>
            <% end %>
            <%= link_to("/tasks/#{@current_user.id}") do %>
              <li>タスク</li>
            <% end %>
            <%= link_to("/messages/#{@current_user.id}") do %>
              <li>メッセージ</li>
            <% end %>
          <li>設定</li>
        </ul>
    </li>
    <li class ="main_content">
        <img  class = "baloon_ico" src = "/ico_hiina.png">
        <div class="balloon1-left">
            <p>いよいよ収録だな！頑張れよ！<p>
        </div>

        <h2>参加作品一覧</h2>
            <ul class="user_works_title">
                <li>アイコン</li>
                <li>キャラ名</li>
                <li>作品名</li>
                <li>作品進捗</li>
                <li>最終更新</li>
                <li>マイステータス</li>
                <li>ジョブ</li>
            </ul>

          <% @member.each do |member| %>
        <% works = Work.find_by(id: member.work_id) %>
         <% chara = Chara.find_by(id: member.chara_id) %>

     <ul class = "user_works">
         <li>
             <% if chara %>
             <img src= <%= "/chara_icon/#{chara.chara_icon}" %> >
             <% else %>
             <img src= <%= "/chara_icon/#{works.work_ico}" %> >
             <% end %>
         </li>
         <li>
             <% if chara %>
             <%= chara.chara_name %>
             <% else %>
             ―
             <% end %>
         </li>
         <li><%= link_to("#{works.work_name}","/works/#{works.id}") %></li>
         <li><%= works.work_status %></li>
         <li><%= works.updated_at.strftime('%Y/%m/%d') %></li>
         <li></li>
         <li><%= member.job %></li>
     </ul>
     <% end %>

    </ul>