<ul class ="user_title">
    <li>
        <img src="<%= "/#{@current_user.user_icon}" %>">
    </li>
    <li>
        <h1><%= @current_user.user_name %></h1>
    </li>
</ul>
<ul class ="main_layout">
    <li class = "side_menu">
        <ul class ="side_menu_list">
            <%= link_to("/users/#{@current_user.id}") do %>
              <li>マイページ</li>
            <% end %>
            <%= link_to("/users//#{@current_user.id}/works") do %>
              <li>参加作品</li>
            <% end %>
            <%= link_to("/tasks/#{@current_user.id}") do %>
              <li>タスク</li>
            <% end %>
            <%= link_to("/messages/#{@current_user.id}") do %>
              <li>メッセージ</li>
            <% end %>
          <li>設定</li>
        </ul>
    </li>
    <li class ="main_content">
        <div class="re_join_request">
            <h1><%= "「#{@works.work_name}」への出演依頼です" %></h1>
                <%= form_tag("/offers/#{params[:id]}/update") do %>
                    <p>work_id</p>
                    <input name="work_id" value="<%= @works.id %>">
                    <p>chara_id</p>
                    <input name="chara_id" value="<%= @chara.id %>">
                    <p>user_id</p>
                    <input name="user_id" value="<%= @current_user.id %>">
                    <p>task_id</p>
                    <input name="task_id" value="<%= @tasks.id %>">
                    
                    <input type="submit" value="参加する">
                <% end %>
        </div>
    </li>
    </ul>
       